$lBlue : #00B5FF;
$dBlue : #0060FF;
$lGreen : #E4FFE7;
$dGreen : #00C81B;
$lRed : #FFEBEB;
$dRed : #F62424;
$vdBlue : #00296E;
$lgrey : #BEBEBE;
$vlgrey : #E2E2E2;
$vlBlue: #F3F9FF;
$vlyellow: #FFFEE9;
$Green: #0AE127;
$dYellow: #ACA700;
$Orange: #F96F1A;
$vlOrange: #FFF0E7;
$vdOrange: #D34F00;


.super-container{
    box-shadow: 0px 0px 6px $vlgrey;
    padding-bottom: 30px;

.container{
    
    display: grid;
    grid-template-columns: repeat(12,1fr);


    .list-container{
        grid-column: span 3/auto;
        margin: 0px;
        height: 650px;
        overflow: auto;

        

        .list-item{
            margin: 0px 10px 10px 25px;
            box-shadow: 0px 0px 6px $vlgrey;
            padding: 11px 15px;
            color: $dBlue;
            border-radius: 5px;
            cursor: pointer;
            span{
                font-size: 15px;
            }
            &:nth-of-type(1){
                margin-top: 30px;
            }
        }

        .selected{
            background: rgb(0,96,255);
            background: linear-gradient(90deg, rgba(0,96,255,1) 0%, rgba(0,181,255,1) 100%);
            color: white;
        }
    }

    .details-container{
        margin: 30px 25px 0px 10px;
        grid-column: span 9/auto;
        border: 2px solid $dBlue;
        border-radius: 5px;
        padding-bottom: 10px;
        display: none;

        .back{
            padding: 6px 15px;
            background-color: $dBlue;
            border-radius: 2px 2px 0px 0px;
            cursor: pointer;
            text-align: center;
            color: white;
            display: none;
            
        }

        .list-display{
            padding: 15px;
            margin: 10px;
            height: 500px;
            background-color: $vlyellow;
            h4{
                margin: 0px 0px 20px 0px;
                color: rgb(36, 36, 36);
                font-weight: 400;
                font-size: 18px;
            }

            span{   
                font-size: 15px;
                border-bottom: 1px solid lightgray;
                margin-bottom: 5px;
                display: block;
            }

        }

        h2{
            margin: 20px 10px 2px 10px;
            color: $vdBlue;
            font-size: 18px;
            font-weight: 500;
        }

        p{
            margin: 0px 10px 0px 10px;
            color: $dBlue;
            font-size: 12px;
        }

        a{
            display: block;
            background-color: $dBlue;
            padding: 8px 10px;
            font-size: 14px;
            color: white;
            border-radius: 2px;
            width: 110px;
            margin: 10px 10px;
            text-decoration: none;

            img{
                vertical-align: middle;
                width: 20px;
            }
        }


        .btn-container{
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;

            .accept,.reject{
                padding: 10px 20px;
                color: white;
                font-size: 25px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .accept{
                background-color: $dGreen;
            }
    
            .reject{
                background-color: $dRed;
            }

        }
        
    }


}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px){

    .container{       
    
        .list-container{
            grid-column: span 12/auto;
            
            .list-item{
                margin: 0px 25px 10px 25px;
              
                span{
                    
                }
                &:nth-of-type(1){
                   
                }
            }
    
        }
    
        .details-container{
            margin: 30px 25px 0px 25px;
            grid-column: span 12/auto;
            display: none;
    
            .back{
                display: block;
                
            }
    
            .list-display{
                
                h4{
                    margin: 0px 0px 20px 0px;
                    color: rgb(36, 36, 36);
                    font-weight: 400;
                    font-size: 18px;
                }
    
                span{   
                    font-size: 15px;
                    border-bottom: 1px solid lightgray;
                    margin-bottom: 5px;
                    display: block;
                }
    
            }
    
            h2{
                margin: 20px 10px 2px 10px;
                color: $vdBlue;
                font-size: 18px;
                font-weight: 500;
            }
    
            p{
                margin: 0px 10px 0px 10px;
                color: $dBlue;
                font-size: 12px;
            }
    
            a{
                display: block;
                background-color: $dBlue;
                padding: 8px 10px;
                font-size: 14px;
                color: white;
                border-radius: 2px;
                width: 110px;
                margin: 10px 10px;
                text-decoration: none;
    
                img{
                    vertical-align: middle;
                    width: 20px;
                }
            }
    
    
            .btn-container{
                display: flex;
                justify-content: space-evenly;
                margin-top: 20px;
    
                .accept,.reject{
                    padding: 10px 20px;
                    color: white;
                    font-size: 25px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
    
                .accept{
                    background-color: $dGreen;
                }
        
                .reject{
                    background-color: $dRed;
                }
    
            }
            
        }
    
    
    }




}

@media only screen and (min-width: 768px) and (max-width: 1199px){

    .container{       
    
        .list-container{
            grid-column: span 5/auto;
            
            .list-item{
                margin: 0px 25px 10px 25px;
              
                span{
                }
                &:nth-of-type(1){
                   
                }
            }
    
        }
    
        .details-container{
            margin: 30px 25px 0px 25px;
            grid-column: span 7/auto;
            // display: none;
    
            .back{
                display: none;
                
            }
    
            .list-display{
                
                h4{
                    
                }
    
                span{   
                    
                }
    
            }
    
            h2{
                
            }
    
            p{
                
            }
    
            a{
                
    
                img{
                    
                }
            }
    
    
            .btn-container{
               
    
                .accept,.reject{
                    
                }
    
                .accept{
                    
                }
        
                .reject{
                    
                }
    
            }
            
        }
    
    
    }


}

@media only screen and (max-width: 767px){

    .container{       
    
        .list-container{
            grid-column: span 12/auto;
            
            .list-item{
                margin: 0px 25px 10px 25px;
              
                span{
                }
                &:nth-of-type(1){
                   
                }
            }
    
        }
    
        .details-container{
            margin: 10px 8px 0px 8px;
            grid-column: span 12/auto;
            display: none;
    
            .back{
                display: block;
            }
    
            .list-display{
                
                h4{
                    font-size: 15px;
                }
    
                span{   
                    font-size: 12px;
                }
    
            }
    
            h2{
                
            }
    
            p{
                
            }
    
            a{
                
                display: block;
                margin: 10px auto;
                width: 95%;
    
                img{
                    
                }
            }
    
    
            .btn-container{
               
    
                .accept,.reject{
                    
                    font-size: 15px;
                    
                }
    
                .accept{
                    
                }
        
                .reject{
                    
                }
    
            }
            
        }
    
    
    }


}