$lBlue : #00B5FF;
$dBlue : #0060FF;
$lGreen : #E4FFE7;
$dGreen : #00C81B;
$lRed : #FFEBEB;
$dRed : #F62424;
$vdBlue : #00296E;
$lgrey : #BEBEBE;


.container{
    text-align: center;
    h1{
        font-size: 50px;
        margin-bottom: 25px;
        margin-top: 100px;
        color: $dBlue;
        font-weight: 400;

    }

    h4{
        color: $lBlue;
        font-weight: 400;
        margin-top: 0px;
        font-size: 20px;
    }

    mat-form-field{
        width: 400px;
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    .email-container{

    }

    .password-reset-container{

    }

    .btn{
        padding: 15px 45px;
        background-color: $dBlue;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        margin-top: 30px;
        border: none;
    }


}


@media only screen and (min-width: 768px) and (max-width: 1200px){

}


@media only screen and (max-width: 767px){

    .container{

        h1{
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 10px;
        }

        h4{
            font-size: 15px;
        }

        mat-form-field{
            width: 270px;
            display: block;
            margin: auto;
            margin-top: 20px;
        }


        
        .btn{
            padding: 10px 30px;
            font-size: 18px;
            
        }

    }
    
   
    



}