<div class="container">
<h1>Forgot Password</h1>
<h4 [innerText]="displayMessage">Don't Worry ! We're here to help </h4>
<form [formGroup]="initialCheckup" (ngSubmit)="submitHandler()">
<div class="email-container" *ngIf="!isFoundEmail">
        <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput required  type="email">
                <mat-hint>Enter Email registered with us</mat-hint>
                <mat-error *ngIf="email.invalid"> Enter Correct Email </mat-error>
        </mat-form-field>

        <mat-form-field class="" appearance="outline">
                <mat-label>Who Are You?</mat-label>
                <mat-select required formControlName="identity">
                        <mat-option value="Consumer">Consumer</mat-option>
                        <mat-option value="Service Provider">Service Provider</mat-option>
                </mat-select>
        <mat-hint>Are you a Consumer or Service Provider?</mat-hint>
                <mat-error *ngIf="identity.invalid">This field is required.</mat-error>
        </mat-form-field>
</div>

<div class="otp-checker" *ngIf="isFoundEmail&&otpField">
        <mat-form-field appearance="outline">
                <mat-label>OTP</mat-label>
                <input #otp formControlName="otp" matInput required  type="password" maxlength="6">
                <mat-hint align="end">{{otp.value.length}} / 6</mat-hint>
                <mat-hint>Check your mail for the OTP</mat-hint>
        </mat-form-field>
</div>

<div class="password-reset-container" *ngIf="isValidatedEmail">
        <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput required formControlName="password" type="password">
                <mat-hint>Enter New Password you want to keep</mat-hint>
                <mat-error *ngIf="password.invalid&&password.touched"> Password is required (Minimum 6 Characters) </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
                <mat-label>Retype Password</mat-label>
                <input matInput required formControlName="rePassword" type="password">
                <mat-hint>Re-enter what you entered above</mat-hint>
                <mat-error *ngIf="rePassword.invalid&&rePassword.touched"> Password is required (Minimum 6 Characters) </mat-error>
        </mat-form-field>
</div>

<button matRipple type="submit" class="btn"> Continue </button>
</form>
</div>