<main>
    <div class="left-part">

        <h1 class="main-heading">
            Find Services in Your Neighbourhood
        </h1>
    
        <p>
            Find Service-Providers like Electrician, Plumber and more, without any hassle.
            We don't charge you in any way. Pay the person in hand after getting satisfied. 
        </p>
    
        <p>
            We support skilled labour's monetary independence. They have right to earn 
            what they deserve for their skill. We simply provide a platform for them to 
            advertise themselves independently, and you to use it and get work done. 
        </p>

        <!-- Add Router -->
        <a routerLink="register" class="register">Get Started <img src="../../assets/right-chevron.svg" alt="Get Started"></a>

    </div>

    <div class="right-part">

        <img src="../../assets/homepage-img.png" alt="Services" srcset="">
    </div>

</main>
